.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.card {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px auto;
  max-width: 1000px;
  text-align: center;
}

.profile-pic {
  width: 150px;
  border-radius: 100%;
  margin-bottom: 100px;
}

.name {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 10px 0;
}

.title {
  font-size: 1.2rem;
  color: #555;
  margin: 5px 0;
}

.phone,
.company {
  font-size: 1rem;
  color: #777;
  margin: 5px 0;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 300px;
  margin-bottom: 25px;
  display: flex;
}

@media (min-width: 600px) {
  .card {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
  }
}

@media (min-width: 1200px) {
  .card {
    width: 100%;
    padding: 40px;
    font-size: 1.2rem;
  }
}
