.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f5f5f5;
}

.card {
  background-color: #efdecd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px auto;
  max-width: 1000px;
  text-align: center;
}

.profile-pic {
  width: 100%;
  height: auto;
  border-radius: 100%;
  margin-bottom: 100px;
}

.name {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 10px 0;
  color: #fff;
}

.title {
  font-size: 1.2rem;
  color: #fff;
  margin: 5px 0;
}

.phone,
.company {
  font-size: 1rem;
  color: #fff;
  margin: 5px 0;
}

.profile-pic {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 25px;
  padding: 50px;
}
/* Mobile */
@media (min-width: 600px) {
  .card {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
  }
}

/* Tablet */
@media (min-width: 1024px) {
  .card {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    flex-direction: row;
    justify-content: space-between;
  }
}

/* Desktop */
@media (min-width: 1400px) {
  .card {
    width: 100%;
    padding: 40px;
    font-size: 1.2rem;
    flex-direction: row;
    justify-content: space-between;
  }
}

/* Desktop */
@media (max-width: 1400px) {
  .profile-pic {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 25px;
    padding: 50px;
    flex-direction: row;
  }
}

/* Tablet */
@media (max-width: 1024px) {
  .profile-pic {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 25px;
    padding: 50px;
    flex-direction: row;
  }
}

/* Mobile */
@media (max-width: 600xpx) {
  .profile-pic {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 25px;
    padding: 50px;
    flex-direction: column;
  }
}
